body {
    padding: 1rem;
    

}

.menus {
    display: flex;
    background-color: turquoise;
    width: 100%/3;

}

.menus > div {
    background-color: cornsilk;
    text-align: center;
    align-items: left;
    width: 100%/3;
    padding: 10px;
}

li {
    text-align: center;
    list-style: none;
}

form {
   display: flex; 
   flex-direction: column;
   align-items: center;
}





